<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="action_open_url_service_desk" model="ir.actions.act_url">
        <field name="name">URL</field>
        <field name="target">self</field>
        <field name="url">/help_desk</field>
    </record>

    <menuitem
            id="service_desk_url_menu_root"
            name="Formulario Service Desk"
			web_icon="helpdesk_bol,static/description/icon.png"
			action="action_open_url_service_desk"/>


</odoo>
