.suggestions {
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
  height: auto;
  position: absolute;
  top: 45px;
  z-index: 9999;
}

.suggestions .suggest-element {
  background-color: #EEEEEE;
  border-top: 1px solid #d6d4d4;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  float: left;
}

.icon-background {
    background-color: #007bff; /* Color azul */
    border-radius: 50%; /* Bordes redondeados */
    color: white; /* Color del ícono */
    padding: 8px; /* Espaciado dentro del círculo */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Tamaño fijo */
    height: 40px; /* Tamaño fijo */
    margin-right: 10px; /* Separación del campo */
}

.card {
    border: 1px solid #007bff;
    border-radius: 10px;
}

.card-header {color: white}

.btn-primary {border: none;}

.btn-primary:hover {
    background-color: #0056b3;
}

/* For the success message */

.success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f9f0;
    border: 2px solid #28a745;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.success-message i {
    color: #28a745;
    font-size: 50px;
    margin-bottom: 10px;
}

.success-message p {
    font-size: 18px;
    color: #333;
    text-align: center;
    font-weight: bold;
    margin: 0;
}


.card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('/helpdesk_bol/static/src/img/gss_background.jpg');
  background-size: cover;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.register{
    background: rgb(1,50,32);
    background: linear-gradient(159deg, rgba(1,50,32,1) 0%, rgba(57,255,20,1) 100%);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    right: 0;
    width: 100%;
  }
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
